<html>

<head>
    <title>Productos</title>
</head>

<body style="padding: 50px;">
    <h1>Productos</h1>
    <% if (productos.length == 0){ %>
        <h2>No hay productos</h2>
        <% } else { %>
            <table>
                <thead>
                    <th style="border: 1px solid grey; padding: 20px;">Title</th>
                    <th style="border: 1px solid grey; padding: 20px;">Price</th>
                    <th style="border: 1px solid grey; padding: 20px;">Thumbail</th>
                </thead>
                <tbody>
                        <% productos.forEach((prod)=> {%>
                            <tr>
                                <td style="border: 1px solid grey; padding: 20px;">
                                    <%= prod.title %>
                                </td>
                                <td style="border: 1px solid grey; padding: 20px;">
                                    <%= prod.price %>
                                </td>
                                <td style="border: 1px solid grey; padding: 20px;"> <img src=<%=prod.thumbail %> /></td>
                            </tr>
                            <% }) %>
                </tbody>
            </table>
    <% } %>
    <button style="background-color: antiquewhite; padding: 10px; margin-top: 20px;">
        <a href="http://localhost:8080/">AGREGAR PRODUCTOS</a>
    </button>
</body>

</html>