{{#if productos}}
<table>
    <thead>
        <th style="border: 1px solid grey; padding: 20px;">Title</th>
        <th style="border: 1px solid grey; padding: 20px;">Price</th>
        <th style="border: 1px solid grey; padding: 20px;">Thumbail</th>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <td style="border: 1px solid grey; padding: 20px;">{{ title }}</td>
            <td style="border: 1px solid grey; padding: 20px;">{{ price }}</td>
            <td style="border: 1px solid grey; padding: 20px;"> <img src={{ thumbail }} /></td>
        </tr>
        {{/each}}

    </tbody>
</table>
{{else}}
    <h2>No hay productos</h2>
{{/if}}

<button style="background-color: antiquewhite; padding: 10px; margin-top: 20px;">
    <a href="http://localhost:8080/">AGREGAR PRODUCTOS</a>
</button>